---
import { Picture } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import auto from "../../assets/shutterstock_591685676.jpg"
import AVL from "../../assets/benefits/AVL.png"
import Betriebsrente from "../../assets/benefits/Betriebsrente.png"
import EigenverantwortlcichesArbeiten from "../../assets/benefits/Eigenverantwortlciches-Arbeiten.png"
import Einkommensshutz from "../../assets/benefits/Einkommensschutz.png"
import FaireEntlohnung from "../../assets/benefits/Faire-Entlohnung.png"
import FlacheEntlohnung from "../../assets/benefits/Faire-Entlohnung.png"
import Gesundheitskonto from "../../assets/benefits/Gesundheitskonto.png"
import Jobrad from "../../assets/benefits/Jobrad.png"
import Jubilaeumszahlung from "../../assets/benefits/Jubilaeumszahlung.png"
import MotivierteKollegen from "../../assets/benefits/Motivierte-Kollegen.png"
import Sicherheitsairbag from "../../assets/benefits/Sicherheitsairbag.png"
import TeilhabeamErfolg from "../../assets/benefits/Teilhabe-am-Erfolg.png"
import TopKondition from "../../assets/benefits/Top-Konditionen.png"
import Wachstum from "../../assets/benefits/Wachstum.png"
import Weiterentwicklung from "../../assets/benefits/Weiterentwicklung.png"
---

<Layout title="Ud-Hero">
  <section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Unsere zusätzlichen Benefits</h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">Echte Mehrwerte für ein ehrliches Miteinander</p>
        </div>
        <div class="space-y-8 md:grid md:grid-cols-3 lg:grid-cols-5 md:gap-5 md:space-y-0">
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-40 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={AVL} alt="AVL" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-40 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={Betriebsrente} alt="Betriebsrente" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-40 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={EigenverantwortlcichesArbeiten} alt="EigenverantwortlcichesArbeiten" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-10 items-center mb-4 h-40 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={Einkommensshutz} alt="Einkommensshutz" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-10 items-center mb-4 h-40 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={FaireEntlohnung} alt="FaireEntlohnung" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-10 items-center mb-4 h-40 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={FlacheEntlohnung} alt="FlacheEntlohnung" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-30 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={Gesundheitskonto} alt="Gesundheitskonto" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-30 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={Jobrad} alt="Jobrad" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-30 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={Jubilaeumszahlung} alt="Jubilaeumszahlung" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-30 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={MotivierteKollegen} alt="MotivierteKollegen" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-30 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={Sicherheitsairbag} alt="Sicherheitsairbag" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-30 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={TeilhabeamErfolg} alt="TeilhabeamErfolg" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-30 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={TopKondition} alt="TopKondition" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-30 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={Wachstum} alt="Wachstum" format="webp" class="w-40"/>
            </div>
          </div>
          <div class="bg-white border border-black rounded-3xl">
            <div class="flex justify-center mx-auto mt-5 items-center mb-4 h-30 rounded-full bg-primary-100 lg:w-40 dark:bg-primary-900">
                <Picture src={Weiterentwicklung} alt="Weiterentwicklung" format="webp" class="w-40"/>
            </div>
          </div>
        </div>
    </div>
  </section>
</Layout>